html {
  font-size: 62.5%
}

body {
  margin: 0;
  font-family: Montserrat,sans-serif;
  background-color: #f3f3f3;
  min-width: 305px
}

body.overlay-open {
  overflow: hidden
}

body>main {
  position: relative;
  min-height: 300px;
  transition: all .5s ease-out;
  margin: 5em
}

.hidden {
  display: none
}
